<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <style>
        body{
            width: 100vw;
            height: 100vh;

            margin: 0;
        }
    </style>

</head>
<body>
    
    <div style="width: 100%; height: 100%;  text-align: center;">
        <div style="height: 35px; width: 100%; margin-top: 7px;">
            <img src="/img_back" alt="no img;" onclick="history.back()" style="width: 25px; height: 25px; float: left; margin-left: 8px;">
        </div>

        <div style="height: 25px; width: 100%; margin-bottom: 20px; background-color: #EDEDED; line-height: 25px;">INFORMATION</div>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 13px; font-weight: bold; line-height: 25px;">
            <summary>푸움 스토어란?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 10px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 10px; text-align: left;">
                    "푸움 스토어"는 대학부원들의 재능과 따듯한 마음을 나눌 수 있는 마켓입니다. "푸움 스토어"의 물건은 2023 소망교회 대학부 여름수련회에서 획득한 단란트로 구매할 수 있습니다.
                </h1>
            </div>
        </details>

        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 13px; font-weight: bold; line-height: 25px;">
            <summary>단란트는 어떻게 모으나요?</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 10px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 10px; text-align: left;">
                    - 얼리코인<br>목요일 9시-9시30분: 2c<br>토요일 7시30분-7시40분: 5c<br>
                    - 게임<br>사격: 5발 3c, 3발 2c, 2발, 1c<br>제기: 10개 3c, 20개 5c<br>공기: 5단까지 모두성공 5단성공 개수만큼 (최대 5c)<br>이모티콘 게임: 상 1c, 중 3c, 하 5c<br>
                    - 말씀암송<br>목요일 저녁, 금요일 점심,저녁: 1c<br>
                    - 야외레크<br>
                    - 갓탤런트 참여자

                </h1>
            </div>
        </details>
        
        <details style="width:90%; margin-left: 5%; margin-right: 5%; margin-top: 10px; background-color: #cfffe5; border-radius: 5px; font-size: 13px; font-weight: bold; line-height: 25px;">
            <summary>미정</summary>
            <div style="width:100%; margin-top: -5px; background-color: #EDEDED; border-radius: 5px; font-size: 10px;">
                <h1 style="width: 95%; margin-left: 2.5%; margin-right: 2.5%; font-size: 10px; text-align: left;">
                    추가예정
                </h1>
            </div>
        </details>



    </div>

    
</body>
</html>